/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 0; 
	padding: 0;
	
	height: 100%;
	width: 100%;
	overflow: scroll;
	position: relative;
	}
	/*////////////////////////////////////////////////////////////////////////////////////////*/
	
	/*////////////////////////////////////////////////////////////////////////////////////////*/
	
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: rgb(150, 100, 255);
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: rgb(180, 158, 206);
	}
a:hover, 
a:focus, 
a:active { 
	text-decoration: underline; 
	color: rgb(200, 71, 71);
	}
abbr {
	border-bottom: none;
	}
.page-wrapper { 
	padding: 0 175px 0 110px;  
	min-height: 100%;
	margin: 0; 
	position: relative;
	}

	/*////////////////////////////////////////////////////////////////////////////////////////*/
	/* INTRO STUFF */
	/*////////////////////////////////////////////////////////////////////////////////////////*/
	
.intro { 
	min-width: 470px;
	width: 100%;

	position: relative;
	margin-bottom: 50px;
	}
header h1 { 
	font-family: 'Source Code Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 42px;
	}

.summary {
	clear: both; 
	}
.summary p {
	font-family: 'Nanum Pen Script', 'Brush Script MT', 'Comic Sans', sans-serif;
	font: italic;
	font-size: 1.8em;
	text-align: center;
	}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	text-align: center;
	}
.preamble p {
	text-align: center;
	}
/*////////////////////////////////////////////////////////////////////////////////////////*/
 
/*////////////////////////////////////////////////////////////////////////////////////////*/


footer { 
	text-align: center; 
	display: block;
	}
footer a {
	display: inline-block;
	}
footer a:link, 
footer a:visited { 
	margin-right: 20px; 
	}
	
/*////////////////////////////////////////////////////////////////////////////////////////*/
/* SIDEBAR STUFF */
/*////////////////////////////////////////////////////////////////////////////////////////*/

.sidebar {
	position: fixed;
	width: 0;
	height: 0;
	top: 25px;
	right: 25px;
	border-top: 30px solid rgb(114, 98, 98);
	border-left: 30px solid transparent;
	}
.sidebar .wrapper { 
	transform: translate(-150px, -150px);
	font: 10px verdana, sans-serif; 
	padding: 10px; 
	margin-top: 150px; 
	width: 130px; 
	background-color: honeydew;
	visibility: hidden;
	}
.sidebar h3.select { 
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.archives { 
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources { 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #988F5E;
	}
.sidebar li a:visited {
	color: #B3AE94;
	}
.extra1 {
	background: transparent url(http://www.onlygfx.com/wp-content/uploads/2017/10/black-watercolor-splatter-11-1024x849.png) top left no-repeat;
	background-size: 300px 300px;
	position: fixed;
	top: 25px; 
	right: 25px; 
	height: 300px;
	width: 300px;
	opacity: .2;
	pointer-events: none;
	}
.extra2 {
	background: transparent url(http://www.onlygfx.com/wp-content/uploads/2017/10/black-watercolor-splatter-11-1024x849.png) top left no-repeat;
	background-size: 100px 100px;
	position: fixed;
	top: 40px; 
	left: 0; 
	height: 100px;
	width: 100px;
	transform: rotateZ(45deg);
	opacity: 1;
	}
.extra3 {
	background: transparent url(https://cdn.pixabay.com/photo/2017/04/16/21/15/paint-2235834_960_720.png) top left no-repeat;
	background-size: 500px 500px;
	position: fixed;
	height: 500px;
	width: 500px;
	bottom: 0;
	left: 100px;
	opacity: .4;
	pointer-events: none;
	}
.sidebar:hover .wrapper {
	visibility: visible;
}
/*////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////////*/

.main {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-columns: 50px;
		min-width: 470px;
	}
.explanation, 
.participation, 
.benefits, 
.requirements {
	grid-column: span 1;
}
.main h3:hover ~ p {
	color: red;
}
#zen-supporting {
	text-align: center;
}
.main h3 {
	font-family: 'Nanum Pen Script', 'Brush Script MT', 'Comic Sans', sans-serif;
	margin: 2px;
}
.main p {
	text-align: center;
}
/*////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////////*/

@font-face {
	font-family: 'Nanum Pen Script';
	src: url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
	font-style: cursive;
}
@font-face {
	font-family: 'Source Code Pro';
	src: url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
	font-style: monospace;
}

@media (min-width: 768px) and (max-width: 1028px) {
	.main {
		display: grid;
		grid-auto-columns: 1fr, 1fr;
		grid-auto-rows: repeat(3, 1fr);
	}
	.explanation {
		grid-column: 1/3;
		grid-row: 1;
	}
	.participation {
		grid-column: 3/5;
		grid-row: 1;
	}
	.benefits {
		grid-column: 1/3;
		grid-row:2;
	}
	.requirements {
		grid-column: 3/5;
		grid-row: 2;
	}
	footer {
		grid-column: 1/5;
		grid-row: 3;
	}
}
@media only screen and (max-width: 768px) {
	.main {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: repeat(5, 1fr);
		min-width: 470px;
	}
}

/* 
.extra3 {
	background: url(http://www.onlygfx.com/wp-content/uploads/2017/10/black-watercolor-splatter-19-859x1024.png);	
}*/

/* background: transparent url(http://www.minimalstudent.com/wp-content/uploads/2010/01/KataokaPainting_270x369.png) top left no-repeat;
	background-size: 200px 300px;*/
	