html {
	margin: 0;
	padding: 0;
}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 0;
	padding: 0;
	background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BuKKyFq/videoblocks-comic-style-particles-flowing-background-looped-animation_sdtgl3j0x_thumbnail-full01.png);
	background-size: 100%;
	/* background-repeat: no-repeat; */
	animation: bounceIn 2s ease;
}
.page-wrapper {
	display: grid;
	width: 100%;
	max-width: 786px;
	margin: 5% auto;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	grid-gap: 25px;
	background-image: url(https://static.vecteezy.com/system/resources/previews/000/090/226/non_2x/vector-comic-style-background.jpg);
	background-size: 100%;
	/* background-repeat: no-repeat; */
}
.intro {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa9uvCdmjMvEgr-ZZ0J_QhGVeLiRTYJIw8YhsWqSwO6FkdbX-wQg);
	background-size: 100%;
	/* background-color: snow; */
	font-family: 'Nanum Pen Script', 'Times New Roman', Times, cursive;
	font-size: 16px;
}

.intro header, .intro div {
	background-color: snow;
	padding-left: 10px;
}
section, aside {
	padding: 5px;
	box-shadow: 0px 0px 0px 5px #251b19;
}
/* .design-selection, 
.design-archives, 
.zen-resources {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa9uvCdmjMvEgr-ZZ0J_QhGVeLiRTYJIw8YhsWqSwO6FkdbX-wQg);
	background-size: 100%;
	
}
.design-selection h3, 
.design-archives h3, 
.zen-resources h3,
.design-selection ul, 
.design-archives ul, 
.zen-resources ul {
	background-color: snow;
} */


section {
	display: grid;
	grid-gap: 5px;
}
* [role='main'] {
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/6279bf18594773.562cc1369d00e.png);
	background-size: 100%;
	box-shadow: 0px 0px 0px 5px #251b19;
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	grid-gap: 10px;
}

* [role='main'] [role='article'] {
	background-color: snow;
	margin: 2%;
	padding: 5px;
	box-shadow: 0px 0px 0px 2px #251b19;
}
* [role='main'] p {
	text-align: center;
}
.explanation {
	font-family: 'VT323', monospace;
	font-size: 12px;
}
.participation {
	font-family: Roboto, sans-serif;
	font-size: 12px;
}
.requirements {
	font-family: 'Nanum Pen Script', 'Times New Roman', Times, cursive;
	font-size: 16px;
}
/*////////////////////////////////////////////////////////////////////////////////////////*/
/* Nav */
/*////////////////////////////////////////////////////////////////////////////////////////*/
aside .wrapper {
	background-color: snow;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
}
aside .wrapper h3 {
	text-align: center;
}
.design-selection *[role='navigation'], .design-archives *[role='navigation']{
	display: none;
}
.design-selection:hover *[role='navigation'], .design-archives:hover *[role='navigation'] {
	display: initial;
}
.zen-resources ul{
	display: none;
}
.zen-resources:hover ul {
	display: initial;
}


/*////////////////////////////////////////////////////////////////////////////////////////*/
/* Media Queries */
/*////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 900px) {
	* [role='main'] {
		box-shadow: 0px 0px 0px 5px #251b19;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto auto auto;
		grid-gap: 10px;
	}

	.benefits, 
	.requirements {
		grid-column: span 2;
	}

	footer {
		grid-column: span 2;
		text-align: center;
	}

	* [role='banner'] h1 {
		transform-origin: top left;
		transform: rotate(-15deg) translate(-100px) translateY(-30px);
		font-family: 'Nanum Pen Script', cursive;
		max-height: 50px;
		font-size: 100px;
		margin: 0;
		text-decoration-color: rgba(red, rgb(12, 20, 99), blue, alpha);
	}
	* [role='banner'] h2 {
		text-align: center;
		font-family: 'Roboto Mono', monospace;
		max-height: 50px;
		font-size: 30px;
		margin: 0;
	}

	section p {
		font: 75% georgia, sans-serif;
	}

	* [role='banner'] h1:hover {
		color: red;
	}
	/* .participation {
		animation: spin 3s linear;
	} */
	.benefits {
		height: 200px;
	}
	.benefits h3{
		background-image: url(http://moziru.com/images/drawn-bubble-comic-book-8.png);
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0;
		width: 200px;
		height: 100px;
		padding-top: 40px;
		text-align: center;
		font-size: 20px;
		animation: spin 5s linear infinite;
	}
	.benefits p {
		transform: translateY(-25px);
	}
	.explanation {
		overflow: hidden;
		transform-origin: 50% 100%;
	}
	.explanation:hover p{
		text-align: justify;
		position: relative;
		animation: move 10s linear infinite;
	}
	.explanation:hover h3{
		display: none;
	}
}
/*////////////////////////////////////////////////////////////////////////////////////////*/
/* Animations */
/*////////////////////////////////////////////////////////////////////////////////////////*/
@keyframes move {
	0% {
		top: 500px;
	} 100% {
		top: -500px;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	} 100% {
		transform: rotate(359deg);
	}
}

@keyframes bounceIn {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	40% {
		transform: scale(1.2);
		opacity: 1;
	}
	60% {
		transform: scale(1);
		opacity: 1;
	}
	80% {
		transform: scale(1.1);
	  	opacity: 1;
	}
		100% {
		transform: scale(1);
	}
}

/*////////////////////////////////////////////////////////////////////////////////////////*/
/* Fonts */
/*////////////////////////////////////////////////////////////////////////////////////////*/
@font-face {
	font-family: 'Alegreya', serif;
	font-family: 'Alegreya Sans', sans-serif;
	font-family: 'Merriweather', serif;
	font-family: 'Merriweather Sans', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Quattrocento', serif;
	font-family: 'Quattrocento Sans', sans-serif;
	src: url(https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans|Merriweather|Merriweather+Sans|Nunito|Nunito+Sans|Quattrocento|Quattrocento+Sans|Roboto|Roboto+Mono|Roboto+Slab);
}
@font-face {
	font-family: 'Nanum Pen Script';
	src: url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
	font-style: cursive;
}
@font-face {
	font-family: 'Rubik', sans-serif;
	font-family: 'VT323', monospace;
	src: url('https://fonts.googleapis.com/css?family=Rubik|VT323');
}

